@import url("https://fonts.google.com/specimen/Bai+Jamjuree");
:root {
  /* ## Colors */

  /* ### Primary */

  --Strong-Cyan: hsl(171, 66%, 44%);
  --Light-Blue: hsl(233, 100%, 69%);

  /* ### Neutral */

  --Dark-Grayish-Blue: hsl(210, 10%, 30%);
  /* --font-family: "Bai Jamjuree",; */
  --Grayish-Blue: hsl(201, 11%, 66%);
  --footer: hsl(201, 11%, 95%);

  /* ## Typography */

  /* ### Body Copy */

  --Font-size: 18px;

  /* ### Fonts */
  /* 
- Family: [Bai Jamjuree](https://fonts.google.com/specimen/Bai+Jamjuree)
- Weights: 400, 600 */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
/* todo KEEP LEARNING !!!! */
body {
  font-size: var(--Font-size);
  font-family: "Bai Jamjuree", sans-serif;
}
h1 {
  color: var(--Dark-Grayish-Blue);
}
p {
  color: var(--Grayish-Blue);
  line-height: 1.4;

  font-weight: 400;
}
header {
  width: 100%;
  /* position: relative; */
  display: flex;
  background: url("../images/bg-header-desktop.png") center center/cover;
  justify-content: center;
  /* border: 1px solid black; */
  align-items: center;
}
img {
  width: 100%;
}
.header-content {
  /* border: 1px solid black; */

  max-width: 600px;
  width: 100%;
  margin-top: 7em;
  /* position: absolute; */
  /* top: 20%; */
  text-align: center;
}
.header-content article {
  /* border: 1px solid red; */
  margin: 0 auto;
}

.header-content article h1 {
  color: var(--Dark-Grayish-Blue);
  padding-top: 30px;
  font-size: 2.3em;
}
.header-content article p {
  padding: 20px 0;
  color: var(--Grayish-Blue);
}
.logo img {
  /* margin-top: 20px; */
  width: 15%;
}
.btnGroup {
  margin-top: 30px;
}
.btnGroup button {
  padding: 14px 45px;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;
  color: white;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin: 0 10px;
}
.btnGroup button:hover {
  opacity: 0.7;
}
.btnGroup button:first-child {
  background-color: var(--Strong-Cyan);
}
.btnGroup button:last-child {
  background-color: var(--Light-Blue);
}
main {
  margin-top: 10rem;
}
.main-content {
  /* border: 1px solid black; */
  text-align: center;
}
.keep-track {
  /* max-width: 610px; */
  width: 100%;
  margin-top: 40vh;
}
.keep-track article {
  max-width: 610px;
  margin: 10px auto;
}
.keep-track article h1 {
  color: var(--Dark-Grayish-Blue);
  font-size: 2rem;
  padding: 20px 0;
}
.keep-track-content {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  /* max-width: 900px; */
  width: 100%;
}
.keep-check {
  text-align: left;
  max-width: 300px;
  align-self: flex-start;
  /* border: 1px solid black; */
  /* background: red; */
}
.keep-check ul li article h1 {
  font-size: 1.1em;
}
.keep-track img {
  /* max-width: 800px; */
  width: 80%;
}

.keep-track ul li {
  margin: 20px 0;
}
.access-clipboard {
  margin-top: 6rem;
  /* border: 1px solid black; */
}
.access-clipboard article:first-child {
  max-width: 600px;
  margin: 10px auto;
}
.access-clipboard h1 {
  font-size: 2rem;
  padding: 20px 0;
}
.access-img {
  max-width: 800px;
  margin: 10px auto;
  padding: 50px 0;
}
.access-clicks {
  text-align: center;
  margin: 10px auto;
  /* max-width: 900px; */
  /* border: 1px solid black; */
}
.access-clicks .tools img {
  width: 15%;
}
.access-clicks .tools {
  /* border: 1px solid black; */
  justify-content: space-around;
  display: flex;
  margin: 80px 0;
}
.access-clicks .tools li {
  max-width: 300px;
}
.access-clicks .tools h1 {
  font-size: 1.4rem;
  padding: 10px;
}
.access-clicks .brands {
  display: flex;
  /* border: 1px solid black; */
  margin: 150px auto;
  justify-content: space-around;
  padding: 10px;
}

.clipboard-for article {
  max-width: 600px;
  margin: 20px auto;
}
.clipboard-for h1 {
  font-size: 2rem;
  padding: 20px 0;
}
footer {
  background-color: var(--footer);
  margin-top: 4rem;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.footer-content .col:first-child {
  display: flex;
  max-width: 60%;
  justify-content: space-around;
  padding: 0 3rem;
  /* border: 1px solid black; */
  width: 100%;
}
.footer-content .col:first-child img {
  width: 60%;
}
.footer-content .col:first-child ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* background-color: red; */
  gap: 20px;
  /* flex-direction: column; */
}
.footer-content a {
  text-decoration: none;
  color: var(--Dark-Grayish-Blue);
  font-weight: 400;
}

.footer-content .col:last-child {
  max-width: 150px;

  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  width: 100%;
  /* border: 1px solid black; */
  margin-right: 80px;
}
.footer-content .col:last-child ul {
  display: flex;
  width: 100%;
  align-items: center;
  /* margin-right: 150px; */
  /* border: 1px solid black; */
  justify-content: space-between;
}
.footer-content .col:last-child ul li a {
  font-size: 1.4em;
}
.footer-content .col:first-child ul li a:hover {
  color: var(--Strong-Cyan);
}
.footer-content .col:last-child ul li a:hover {
  color: var(--Strong-Cyan);
}
/* todo Never Give Up */

@media screen and (max-width: 750px) {
  header {
    background: url("../images/bg-header-mobile.png") center center/cover;
  }
  .header-content article {
    max-width: 380px;
    /* width: 100%; */
  }
  .header-content article h1 {
    font-size: 2em;
  }
  .logo img {
    width: 30%;
  }
  .btnGroup {
    /* border: 1px solid black;s */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* width: 80%; */
    margin: 10px auto;
  }
  .btnGroup button {
    margin: 10px 0;
    width: 70%;
    padding: 18px 0;
  }
  .access-clicks .tools {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .access-clicks .tools li {
    margin: 35px 0;
  }
  .access-clicks .tools img {
    width: 10%;
  }
  .access-clicks .brands {
    flex-direction: column;
  }
  .access-clicks .brands li {
    margin: 40px 0;
  }
  .access-clicks .brands img {
    width: 30%;
  }
  .keep-track-content {
    flex-direction: column;
  }
  .keep-check {
    margin: 80px auto;
    text-align: center;
  }

  .keep-img img {
    width: 100%;
  }

  .footer-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-content .col:first-child img {
    width: 18%;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .footer-content .col:first-child {
    flex-direction: column;
    /* justify-content: center; */
    /* background: red; */
    max-width: 100%;
    text-align: center;
    /* align-items: center; */
  }
  .footer-content .col:last-child {
    margin-top: 30px;
    margin-right: 0;
  }
  .footer-content .col:first-child ul {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-content .col:last-child ul {
    /* flex-direction: column; */
    margin-top: 30px;
  }
  .keep-check ul li article h1 {
    font-size: 1.3em;
  }
  .keep-track article h1 {
    font-size: 1.6em;
  }
  .head h1 {
    font-size: 1.6em;
  }
}
/* ! Hi, -_-_-_-  */
@media (min-width: 1050px) {
  .keep-check {
    max-width: 400px;
  }
}
